ShoppingCart/UnitTest/Service References/CartServiceReference/service.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:wsap="http://schemas.xmlsoap.org/ws/2004/08/addressing/policy" xmlns:wsa10="http://www.w3.org/2005/08/addressing" xmlns:tns="http://tempuri.org/" xmlns:msc="http://schemas.microsoft.com/ws/2005/12/wsdl/contract" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:wsp="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" xmlns:wsa="http://schemas.xmlsoap.org/ws/2004/08/addressing" xmlns:wsaw="http://www.w3.org/2006/05/addressing/wsdl" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:xsd="http://www.w3.org/2001/XMLSchema" name="CartService" targetNamespace="http://tempuri.org/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:types>
    <xsd:schema targetNamespace="http://tempuri.org/Imports">
      <xsd:import namespace="http://tempuri.org/" />
      <xsd:import namespace="http://schemas.microsoft.com/2003/10/Serialization/" />
      <xsd:import namespace="http://schemas.datacontract.org/2004/07/iCodeSystems.ShoppingCart.Communication" />
      <xsd:import namespace="http://schemas.microsoft.com/2003/10/Serialization/Arrays" />
    </xsd:schema>
  </wsdl:types>
  <wsdl:message name="ICartService_GetCart_InputMessage">
    <wsdl:part name="parameters" element="tns:GetCart" />
  </wsdl:message>
  <wsdl:message name="ICartService_GetCart_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetCartResponse" />
  </wsdl:message>
  <wsdl:message name="ICartService_SaveCart_InputMessage">
    <wsdl:part name="parameters" element="tns:SaveCart" />
  </wsdl:message>
  <wsdl:message name="ICartService_SaveCart_OutputMessage">
    <wsdl:part name="parameters" element="tns:SaveCartResponse" />
  </wsdl:message>
  <wsdl:portType name="ICartService">
    <wsdl:operation name="GetCart">
      <wsdl:input wsaw:Action="http://tempuri.org/ICartService/GetCart" message="tns:ICartService_GetCart_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/ICartService/GetCartResponse" message="tns:ICartService_GetCart_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="SaveCart">
      <wsdl:input wsaw:Action="http://tempuri.org/ICartService/SaveCart" message="tns:ICartService_SaveCart_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/ICartService/SaveCartResponse" message="tns:ICartService_SaveCart_OutputMessage" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="BasicHttpBinding_ICartService" type="tns:ICartService">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="GetCart">
      <soap:operation soapAction="http://tempuri.org/ICartService/GetCart" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="SaveCart">
      <soap:operation soapAction="http://tempuri.org/ICartService/SaveCart" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="CartService">
    <wsdl:port name="BasicHttpBinding_ICartService" binding="tns:BasicHttpBinding_ICartService">
      <soap:address location="http://shoppingcartwcf.local/" />
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>